<h1>Renters</h1>

<ul>
  <% @renters.each do |renter| %>
    <h3><%= renter.first_name %> <%= renter.last_name %></h3>: <%= renter.unit.name %>
    <li>Monthly Rent: $<%= renter.unit.monthly_rent %></li>
    <li>Cost Per Square Foot: $<%= renter.unit.cost_per_square_foot %></li><br /><br />
  <% end %>
</ul>

Average Cost Per Square Foot For All Renters: $<%= Renter.avg_cost_per_sq_foot(@renters) %>
